/**
 * All animations for CSS Modal
 *
 * Available:
 * - %modal--transition-fade (fade)
 * - %modal--transition-zoomIn (zooms in)
 * - %modal--transition-plainScreen (hides background)
 *
 * Usage:
 *
 * .selector {
 *    @extend %modal--transition-fade;
 * }
 *
 */

// Configuration:
$transition-duration: 0.4s !default;
$transition-size-start: scale(0) !default;
$transition-size-end: scale(1) !default;

/* Fade in the modal */
.modal--transition--fade {
  @extend %modal;
  @extend %modal-theme;
}

@media screen and (min-width: $modal-small-breakpoint) {
  .modal--transition--fade {
    transition: opacity $transition-duration;
  }
}

/* Fade in and zoom in the modal */
.modal--transition--zoom-in {
  @extend %modal;
  @extend %modal-theme;
}

/* Scale to zero */
.modal--transition--zoom-in .modal_inner {
  transform: $transition-size-start;
  opacity: 0;
  transition: all $transition-duration;
}

.modal--transition--zoom-in .modal_close::before {
  transition: all $transition-duration;
  opacity: 0;
}

.modal--transition--zoom-in .modal_close::after {
  transform: $transition-size-start;
  transition: all $transition-duration;
  opacity: 0;
}

/* Show modal when requested */
.modal--transition--zoom-in:target,
.modal--transition--zoom-in.is-active {
  .modal_inner {
    transform: $transition-size-end;
    opacity: 1;
  }

  .modal_close::before {
    opacity: 1;
  }

  .modal_close::after {
    transform: $transition-size-end;
    opacity: 1;
    /* Move back to proper position */
    top: 25px;
  }

  @media screen and (max-width: $modal-small-breakpoint) {
    .modal_close::after {
      top: 5px;
      right: 5px;
      left: auto;
    }
  }
}

// Fade in, zoom in and hide backgrund in the modal
.modal--transition-plain-screen {
  @extend %modal;
  @extend %modal-theme;
  @extend %modal-theme-plainScreen;
  @extend %modal--transition-zoomIn;
}

.modal--transition-plain-screen .modal_inner {
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.25);
}

.modal--transition-plain-screen .modal_close::before {
  transition: all $transition-duration;
  background: $modal-inner-background;
  opacity: 0;
}

.modal--transition-plain-screen .modal_close::after {
  box-shadow: 0 -1px 10px -2px rgba(0, 0, 0, 0.2);
}

/* Show modal when requested */
.modal--transition-plain-screen:target,
.modal--transition-plain-screen.is-active {
  .modal_close::before {
    opacity: 1;
  }

  .modal_close::after {
    top: 23px;
  }

  @media screen and (max-width: $modal-small-breakpoint) {
    .modal_close::after {
      top: 5px;
    }
  }
}
