/**
 * All animations for CSS Modal
 *
 */

/* Configuration: */
:root {
  --transition-duration: 0.4s;
  --transition-size-start: scale(0);
  --transition-size-end: scale(1);
}

/* Fade in the modal */
.css-modal--transition--fade {
  @extend %modal;
  @extend %modal-theme;
}

@media screen and (min-width: 30em) {
  .css-modal--transition--fade {
    transition: opacity var(--modal--transition-duration);
  }
}

/* Fade in and zoom in the modal */
.css-modal--transition--zoom-in {
  @extend %modal;
  @extend %modal-theme;
}

/* Scale to zero */
.css-modal--transition--zoom-in .css-modal_inner {
  transform: var(--modal--transition-size-start);
  opacity: 0;
  transition: all var(--modal--transition-duration);
}

.css-modal--transition--zoom-in .css-modal_close::before {
  transition: all var(--modal--transition-duration);
  opacity: 0;
}

.css-modal--transition--zoom-in .css-modal_close::after {
  transform: var(--modal--transition-size-start);
  transition: all var(--modal--transition-duration);
  opacity: 0;
}

/* Show modal when requested */
.css-modal--transition--zoom-in:target,
.css-modal--transition--zoom-in.is-active {
  .css-modal_inner {
    transform: var(--modal--transition-size-end);
    opacity: 1;
  }

  .css-modal_close::before {
    opacity: 1;
  }

  .css-modal_close::after {
    transform: var(--modal--transition-size-end);
    opacity: 1;
    /* Move back to proper position */
    top: 25px;
  }

  @media (max-width: 30em) {
    .css-modal_close::after {
      top: 5px;
      right: 5px;
      left: auto;
    }
  }
}

// Fade in, zoom in and hide backgrund in the modal
.css-modal--transition-plain-screen {
  @extend %modal;
  @extend %modal-theme;
  @extend %modal-theme-plainScreen;
  @extend %modal--transition-zoomIn;
}

.css-modal--transition-plain-screen .css-modal_inner {
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.25);
}

.css-modal--transition-plain-screen .css-modal_close::before {
  transition: all var(--modal--transition-duration);
  background: var(--modal--inner-background);
  opacity: 0;
}

.css-modal--transition-plain-screen .css-modal_close::after {
  box-shadow: 0 -1px 10px -2px rgba(0, 0, 0, 0.2);
}

/* Show modal when requested */
.css-modal--transition-plain-screen:target,
.css-modal--transition-plain-screen.is-active {
  .css-modal_close::before {
    opacity: 1;
  }

  .css-modal_close::after {
    top: 23px;
  }

  @media (max-width: 30em) {
    .css-modal_close::after {
      top: 5px;
    }
  }
}
