/**
 * CSS Modal Configuration
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */
:root {
  /* Modal General Styles */
  --modal--max-width: 45rem;
  --modal--border-radius: 2px;
  --modal--small-breakpoint: 30em;
  --modal--content-margin: 1rem;
  --modal--margin-top: 3rem;

  /* Modal Plain Screen Styles */
  --modal--plain-screen-overlay: #fff;

  /* Set high z-index to appear above all other content */
  --modal--layer: 999;

  /* Color configuration */
  --modal--border-color: #ddd;
  --modal--inner-background: #fff;
  --modal--background: rgba(0, 0, 0, 0.7);
  --modal--color: #222;
  --modal--mobile-header: #27aae2;

}
