/**
 * Prevent overflow on HTML element
 */
html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* Native scroll momentum */
}

/**
 * To prevent jumping <body> should not have any margin on top or bottom
 */
.has-overlay {
  overflow: hidden;
  height: auto;
}

.has-overlay > body {
  height: 100%;
  overflow: hidden;
}

.css-modal {
  /* Hide initially */
  transform: translate(0, 100%);
  transform: translate3d(0, 100%, 0);

  /* Maintain a fixed position */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--modal--layer);
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

/* Show modal when requested */
.css-modal:target,
.css-modal.is-active {
  transform: translate(0, 0);

  width: auto;
  height: auto;

  opacity: 1;
}

/**
 * Content Area
 */
.css-modal_inner {
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 20;
  margin-left: (var(--modal--max-width) / 2) * -1;
  width: var(--modal--max-width);
  overflow-x: hidden;

  -webkit-overflow-scrolling: touch; /* Native style momentum scrolling */
}

.css-modal_inner > img,
.css-modal_inner > video,
.css-modal_inner > iframe {
  width: 100%;
  height: auto;
  min-height: 300px;
}

.css-modal_inner > img {
  width: auto;
  max-width: 100%;
}

.css-modal_inner iframe {
  display: block;
  width: 100%;
  border: 0;
}

/**
 * Content
 */
.css-modal_content {
  position: relative;
  max-height: 400px;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.css-modal_content > * {
  max-width: 100%;
}

/**
 * Footer
 */
.css-modal_footer {
  border-top: 1px solid lighten(var(--modal--border-color), 20);
  padding: 0 1.2em 18px;
  background: #f0f0f0;
  border-radius: 2px;
}

/**
 * A close button
 */
.css-modal_close {
  display: block;
  height: 1px; /* Prevent close element to appear */
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
}

.css-modal_close:focus::after {
  outline: 1px dotted;
  outline: -webkit-focus-ring-color auto 5px;
}

/**
 * Background as close
 */
.css-modal_close::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}


/**
 * Actual close button on modal
 */
.css-modal_colose:after {
  content: '\00d7';
  position: absolute;
  top: 35px;
  right: 50%;
  z-index: 20;
  margin-right: -(var(--modal--max-width) / 2);
}


/**
 * When screen isn't as wide as the modal anymore
 */
@media screen and (max-width: $modal-max-width + 40) {
  .css-modal_inner {
    width: auto;
    left: 20px;
    right: 20px;
    margin-left: 0;
  }

  .css-modal_close {
    &:after {
      margin-right: 0 !important;
      right: 20px;
    }
  }
}

/**
 * For small screens adjust the modal
 */
@media screen and (max-width: $modal-small-breakpoint) {
  .css-modal {
    -webkit-transform: translate(0, 400px); /* Use px to work around Android 2.3 bug */
    -webkit-transform: translate3d(0, 100%, 0); /* And overwrite px if 3D transforms are supported */
            transform: translate3d(0, 100%, 0);

    transition: opacity 1ms .25s;

    display: block;
    right: auto;
    bottom: auto;
  }

  .css-modal:target,
  .css-modal.is-active {
    width: 100%;
    height: 100%;
  }

  .css-modal_inner {
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
  }

  .css-modal_content {
    max-height: none;

    /**
     * Prevent text from breaking modal in mobile view
     */
    -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word; // Non-standard for WebKit
    hyphens: auto;
  }

  .css-modal_close {
    display: none;
    right: auto;
  }

  .css-modal_close::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }

  .css-modal_close::after {
    top: 5px !important;
    right: 5px;
    left: auto;
    margin-left: 0;
  }
}


/**
 * For small heights
 */
@media screen and (max-height: 46em) and (min-width: $modal-small-breakpoint) {
  .css-modal_content {
    max-height: 340px;
    max-height: 50vh;
  }
}


@media screen and (max-height: 36em) and (min-width: $modal-small-breakpoint) {
  .css-modal_content {
    max-height: 265px;
    max-height: 40vh;
  }
}


/**
 * Stackable Modals
 */
.css-modal.is-stacked {
  -webkit-transform: translate(0, 0) scale(1, 1);
     -moz-transform: translate(0, 0) scale(1, 1);
       -o-transform: translate(0, 0) scale(1, 1);
      -ms-transform: translate(0, 0) scale(1, 1);
          transform: translate(0, 0) scale(1, 1);

  opacity: 1;
}

.css-modal.is-stacked .css-modal_inner {
  -webkit-animation: scaleDown .7s ease both;
     -moz-animation: scaleDown .7s ease both;
          animation: scaleDown .7s ease both;
}


/**
 * Hide overlay and close button
 */
.css-modal.is-stacked .css-modal_close {
  opacity: 0;
}


/**
 * On small screens
 */
@media screen and (max-width: $modal-small-breakpoint) {
  .css-modal.is-stacked {
    animation: scaleDown .7s ease both;
  }

  .css-modal_inner {
    animation: none;
  }


  .css-modal_close {
    opacity: 1;
  }
}
