/**
 * Custom maximum width for a modal
 *
 * Usage: Set `data-cssmodal-maxwidth` with a pixel-based max-width as a value.
 */
.css-modal--maxwidth .css-modal_inner {
  width: 100%;
}

@media (max-width: 30em) {
  .css-modal--maxwidth .css-modal_inner {
    left: 50%;
  }

  .css-modal--maxwidth .css-modal_close:after {
    right: 50% !important;
  }
}

@media (max-width: 30em) {
  .css-modal--maxwidth .css-modal_inner {
    max-width: 100% !important;
    margin-left: 0 !important;
  }

  .css-modal--maxwidth .css-modal_close:after {
    margin-right: 0 !important;
    right: 0 !important;
  }
}
