/**
 * CSS Modal Plugin: Stretch height
 */
.css-modal--stretch .css-modal_inner {
  top: 10%;
  min-height: 80%;
}

.css-modal--stretch .css-modal_content {
  max-height: none !important;
}

.css-modal--stretch .css-modal_close:after {
  top: 10%;
  margin-top: -25px;
}

@media (max-width: 30em) {
  .css-modal--stretch .css-modal_inner {
    top: 0;
  }

  .css-modal--stretch .css-modal_close:after {
    margin-top: 0;
  }
}
