/*
 * Styles for the website
 */

// Import helpers
@import "helpers/normalize";
@import "helpers/mixins";

// Main-Color
$color: #27aae2;

// Default styles
body {
	font: 16px/1.4 Helvetica Neue, sans-serif;
	color: #111;
	text-align: center;

	&.has-overlay {
		overflow: hidden;
	}
}

h2 {
	margin: 2em 0 .5em;
}

h3 {
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 0;
}


// Links
a {
	color: #111;
	text-decoration: none;

	&:visited {
		color: #111;
	}
}


// Buttons
%button {
	@include x-transition(0.2s);

	display: inline-block;
	background: #111;

	color: #fff;

	border-radius: 2px;
	padding: 0.5em 1em;

	&:visited {
		color: #fff;
	}

	&:hover {
		background: lighten($color, 5);
	}
}



// Header
.site-header {
	background: $color;
	padding: 2em 0 1em;

	text-align: center;
	color: #fff;

	// Headline
	h1 {
		display: block;

		font-size: 4em;
		line-height: 1;
		margin-bottom: 0.1em;

		text-shadow: 0 1px 1px rgba(darken($color, 30), .8);

		@media screen and (max-width: 30em) {
			margin-left: .2em;
			margin-right: .2em;
			font-size: 3em;
		}
	}

	> p {
		margin-top: 0;
		font-size: 1.2em;
	}
}



// Download button
.download {
	@extend %button;
	margin-top: 0.5em;
}

// Content
.main {
	max-width: 50em;
	margin: 0 auto;
	padding: 0 1.5em;
	text-align: left;
}


// Show features
.features {
	overflow: hidden;
	margin: 1.5em -.7em;

	> div {
		@include x-box-sizing;

		float: left;
		display: inline;
		width: 33.333%;
		padding: 0 .7em;

		@media screen and (max-width: 30em) {
			float: none;
			display: block;
			width: 100%;
		}
	}
}


// Demo
.call-modal {
	@extend %button;

	@media screen and (max-width: 30em) {
		display: block;
		text-align: center;
		margin-bottom: 0.5em;
	}
}


// Tabbed content
.content-tabbed {
	position: relative;

	> h3 {
		display: inline-block;
		margin-top: 0;
		padding-top: 1em;

		> a {
			@extend %button;
		}

		&:target > a,
		&.is-active > a {
			background: lighten($color, 5);
		}
	}
}

.tab-content {
	display: none;

	.tab-content-anchor:target + &,
	.tab-content-anchor.is-active + & {
		display: block;

		.js & {
			position: absolute;
		}
	}
}


// Footer
.site-footer {
	margin: 0 auto;
	padding: 2em 0;
	text-align: center;
}

