# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

*.sass-cache

node_modules
download

/test/modal.css
/build/modal.css
