/*
 * Configuration
 */
$modal-border-color: #ddd;
$modal-max-width: 650px;
$modal-mobile-header: #27aae2;
$modal-layer: 999; // Set high z-index to appear above all other content
$modal-bg-opacity: 80;