/*
 * Tests for CSS Modal
 * by @drublic - http://drublic.de/
 *
 * http://drublic.github.com/css-modal
 */

// Include Modal
@import "../modal";


// Apply the modal with all its possible parts
._modal {
	@extend %modal;
}
