@charset "UTF-8";
/*
 * Modals build with pure CSS
 * by @drublic - http://drublic.de/
 *
 * http://drublic.github.com/css-modal
 */
/*
 * Styles for the website
 */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*! sass-mixins - v0.11.0 - 2014-10-20 */
                                        /**
* @description
* Generates keyframe animations
*
* @author drublic
*
* @link caniuse http://caniuse.com/#feat=css-animation
* @link spec http://www.w3.org/TR/css3-animations/
*
* @param values
* @returns
*   -webkit-animation: <values>;
*           animation: <values>;
*
* @example
*   .selector {
*     @include x-animation(jump 1s ease-out);
*   }
*/
/*
 * @example
 *    @include x-keyframes(jump) {
 *      from { top: 0; }
 *      to { top: -10px; }
 *   }
 */
/**
 * @description
 * Generates `appearance` for a given element
 *
 * @author romamatusevich
 *
 * @link MDN https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-appearance
 * @link css-tricks http://css-tricks.com/almanac/properties/a/appearance/
 * @link spec http://www.w3.org/TR/2004/CR-css3-ui-20040511/#appearance
 *
 * @param value
 * @returns
 *   -webkit-appearance: <value>;
 *      -moz-appearance: <value>;
 *           appearance: <value>;
 *
 * @example
 *   .selector {
 *     @include x-appearance(button);
 *   }
 */
/**
 * @description
 * Generates `background-size` output for a given element.
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/background-img-opts
 * @link spec http://www.w3.org/TR/css3-background/
 *
 * @param value
 * @returns
 *   -webkit-background-size: $args;
 *           background-size: $args;
 *
 * @example
 *   .selector {
 *     @include x-background-size(100% auto);
 *   }
 */
/**
 * @description
 * Generates cross-browser-compatible `border-radius` for a given element
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/border-radius
 * @link spec http://www.w3.org/TR/css3-background/#corners
 *
 * @param values
 * @returns
 *   -webkit-border-radius: <values>;
 *           border-radius: <values>;
 *
 * @example
 *   .selector {
 *     @include x-border-radius(20px 10px);
 *   }
 */
/**
 * @description
 * Generates cross-browser-compatible `box-shadow` for a given element
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/css-boxshadow
 * @link spec http://www.w3.org/TR/css3-background/#the-box-shadow
 *
 * @param values
 * @returns
 *   -webkit-box-shadow: <values>;
 *           box-shadow: <values>;
 *
 * @example
 *   .selector {
 *     @include x-box-shadow(5px 5px 10px 5px #aaa);
 *   }
 */
/**
 * @description
 * Generates cross-browser-compatible `box-sizing` output for a given element.
 *
 * @author drublic
 *
 * @link caniuse
 * @link spec
 *
 * @param type
 * @returns
 *   -webkit-box-sizing: <type>;
 *      -moz-box-sizing: <type>;
 *           box-sizing: <type>;
 *
 * @example
 *   .selector {
 *     @include x-box-sizing;
 *   }
 */
/**
 * @description
 * These mixins generates Media Queries
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/#feat=css-mediaqueries
 * @link spec http://www.w3.org/TR/css3-mediaqueries/
 *
 * Note: Please use the CSS unit `em` for device-width in order to stay
 * responsive.
 */
/**
 * @param device-width {number}
 * @content
 * @returns
 *   @media screen and (min-width: <device-width>) {
 *      <content>
 *   }
 *
 * @example
 *   .selector {
 *     x-at-least(40em) { width: 60%; }
 *   }
 */
/**
 * @param device-width {number}
 * @content
 * @returns
 *   @media screen and (max-width: <device-width - 0.01>) {
 *      <content>
 *   }
 *
 * @example
 *   .selector {
 *     x-until(40em) { width: 100%; }
 *   }
 */
/**
 * @author romamatusevich
 *
 * @param point{string}, bp-mobile-width{number}, bp-tablet-width{number} 
 * @content
 * @returns
 *   @media (max-width: <bp-mobile-width>) {
 *      <content>
 *   }
 *
 * @example
 *   .selector {
 *     x-breakpoints(mobile,  320px) { width: 100%; }
 *   }
 */
/**
 * @description
 * Generates `calc` function which allows mathematical expressions for a given property
 *
 * @author romamatusevich
 *
 * @link spec http://www.w3.org/TR/css3-values/#calc
 * @link caniuse http://caniuse.com/calc
 *
 * @param property
 * @param expression
 *
 * @returns
 *    <property>: -webkit-calc(<expression>);
 *    <property>: calc(<expression>);
 *
 * @example
 *   .selector {
 *     @include x-calc(width, "600px - 2em");
 *   }
 */
/**
 * @description
 * Generates flexbox properties for a given element
 *
 * @author romamatusevich
 *
 * @link MDN https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes
 * @link css-tricks http://css-tricks.com/snippets/css/a-guide-to-flexbox/
 * @link spec http://www.w3.org/TR/css3-flexbox/
 */
/**
 * @returns
 *   display: -webkit-box;
 *   display: -moz-box;
 *   display: -ms-flexbox;
 *   display: -webkit-flex;
 *   display: flex;
 *
 * @example
 *   .selector {
 *     @include x-display-flex;
 *   }
 */
/**
 * @param values
 * @returns
 *   -webkit-box-flex: <values>;
 *      -moz-box-flex: <values>;
 *       -webkit-flex: <values>;
 *           -ms-flex: <values>;
 *               flex: <values>;
 *
 * @example
 *   .selector {
 *     @include x-flex(1 1 auto);
 *   }
 */
/**
 * @param value
 * @returns
 *   -webkit-box-ordinal-group: <value>;
 *      -moz-box-ordinal-group: <value>;
 *              -ms-flex-order: <value>;
 *               -webkit-order: <value>;
 *                       order: <value>;
 *
 * @example
 *   .selector {
 *     @include x-order(1);
 *   }
 */
/**
 * @param value
 * @returns
 *    -webkit-flex-wrap: <value>;
 *        -ms-flex-wrap: <value>;
 *            flex-wrap: <value>;
 *
 * @example
 *   .selector {
 *     @include x-flex-wrap(wrap);
 *   }
 */
/**
 * @param value
 * @returns
 *   -webkit-align-content: <value>;
 *      -moz-align-content: <value>;
 *      -ms-flex-line-pack: <value>;
 *           align-content: <value>;
 * @example
 *   .selector {
 *     @include x-align-content(center);
 *   }
 */
/**
 * @param value
 * @returns
 *	  -webkit-box-direction: <value>;
 *		 -moz-box-direction: <value>;
 *       -webkit-box-orient: <value>;
 *		    -moz-box-orient: <value>;
 *   -webkit-flex-direction: <value>;
 *      -moz-flex-direction: <value>;
 *       -ms-flex-direction: <value>;
 *           flex-direction: <value>;
 * @example
 *   .selector {
 *     @include x-flex-direction(row-reverse);
 *   }
 */
/* ToDo: add flex-grow, flex-shrink, flex-basis, flex-flow, align-items, align-self, justify-content mixins */
/**
 * @description
 * Generates a linear gradient for a given element with a fallback color.
 *
 * @author drublic
 *
 * @link caniuse
 * @link spec
 *
 * @dependency helper-gradient-angle
 * @param direction {'to bottom'|'to right'|'to top'|'to left'|<degree>}
 * @param fallback {color}
 * @param from {color}
 * @param to {color}
 * @default 'to bottom', #ccc, #ccc, #aaa
 *
 * @returns
 *   background-color: <fallback>;
 *   background-image: -webkit-gradient(linear, <direction - old converted>, from(<from>), to(<to>));
 *   background-image: -webkit-linear-gradient(<direction - converted>, <from>, <to>);
 *   background-image:         linear-gradient(<direction>, <from>, <to>);
 *
 * @example
 *   .selector {
 *     @include x-linear-gradient("to bottom", #ccc, #ddd, #bbb);
 *   }
 *
 * Note: By default this linear-gradient-mixin encourages people to use the
 * latest CSS-syntax for gradients.
 */
/**
 * @description
 * This mixin generates multiple backgrounds
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/css-gradients
 * @link spec http://www.w3.org/TR/2011/WD-css3-images-20110217/#linear-gradients
 */
/*
 * A function for prefixing gradients
 *
 * @param mode {'webkit-old'|'webkit'|''}
 * @param gradient
 * @returns
 *   -<mode>-linear-gradient(<gradient>);
 */
/*
 * Generates multiple backgrounds
 *
 * @param backgrounds {list}
 *
 * @example
 *   .selector {
 *     @include x-multiple-backgrounds(
 *       rgba(0, 0, 0, 0.3),
 *       url('../img/html5_logo.png') top right no-repeat,
 *       (linear-gradient, to bottom, #aaa, #ddd)
 *     );
 *   }
 */
/**
 * @description
 * This mixin creates (endless) multiple color stops in gradients just with one
 * call for the mixin.
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/css-gradients
 * @link spec http://www.w3.org/TR/2011/WD-css3-images-20110217/#linear-gradients
 *
 * @param stops {list}
 * @returns
 *   background-image: -webkit-linear-gradient(top, <stops[1]>, <stops[2]>, ..., <stops[n]>);
 *   background-image:         linear-gradient(to bottom, <stops[1]>, <stops[2]>, ..., <stops[n]>);
 *
 * @example
 *   .selector {
 *     @include x-multiple-colored-gradient((
 *         "top",
 *         #f22 0%,
 *         #f2f 15%,
 *         #22f 30%,
 *         #2ff 45%,
 *         #2f2 60%,
 *         #2f2 75%,
 *         #ff2 90%,
 *         #f22 100%
 *     ));
 *   }
 *
 * Note: This mixis does not define a fallback-color for your background as it
 * is likely you want to add an image or something. Please specify one by
 * yourself.
 */
/**
 * @description
 * Generates `opacity` output for a given element and adds a filter for old IE.
 *
 * @author bartveneman
 *
 * @link caniuse http://caniuse.com/css-opacity
 * @link spec http://www.w3.org/TR/css3-color/#transparency
 *
 * @param value
 * @returns
 *   opacity: <value>;
 *    filter: alpha(opacity=<value * 100>);
 *
 * @example
 *   .selector {
 *     @include x-opacity(0.3);
 *   }
 */
/**
 * @description
 * Generates `placeholder` content for a given element
 *
 * @author romamatusevich
 *
 * @link MDN https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-placeholder
 * @link css-tricks http://css-tricks.com/snippets/css/style-placeholder-text/
 *
 * @returns
 *    &::-webkit-input-placeholder {
 *        <content property 1>: <content value 1>;
 *        ...
 *        <content property n>: <content value n>;
 *    }
 *    &::-moz-placeholder {
 *        <content property 1>: <content value 1>;
 *        ...
 *        <content property n>: <content value n>;
 *    }
 *    &:-ms-input-placeholder {
 *        <content property 1>: <content value 1>;
 *        ...
 *        <content property n>: <content value n>;
 *    }
 *
 * @example
 *   .selector {
 *     @include x-placeholder {
 *         color: #bada55;
 *         font-weight: bold;
 *     }
 *   }
 */
/**
 * @description
 * This mixin enables you to use the CSS3 value `rem`, which lets you define
 * property sizes based on the root element's font-size.
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/rem
 * @link spec http://www.w3.org/TR/css3-values/#relative0
 *
 * Note: Depending on the font-size of the root-element `rem` calculates a
 * property of a current element. The fallback solution accepts a
 * `default-font-size`-argument which is 16px by default.
 */
/*
 * Returns a number without unit. E.g. 30px -> 30
 * Borrowed from https://github.com/zurb/foundation/blob/master/scss/foundation/_functions.scss
 * 
 * @param value {String}
 * @returns
 *   <Number>
 */
/*
 * Outputs properties that use rem with a px fallback.
 * It also takes px values and converts them to rem.
 *
 * @param property
 * @param values
 * @param default-font-size int optional
 * @returns
 *   <property>: <parsed value>px;
 *   <property>: <parsed value>rem;
 *
 * @example
 *   .selector {
 *     @include x-rem(font-size, 1.3);
 *     @include x-rem(padding, 20px);
 *   }
 */
/**
 * @description
 * Sass-mixin for CSS property `tab-size`, generates cross-browser-compatible
 * `tab-size` output.
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/css3-tabsize
 * @link spec http://dev.w3.org/csswg/css-text/#tab-size1
 *
 * @param value int optional
 * @default 4
 * @returns
 *   -moz-tab-size: <value>;
 *        tab-size: <value>;
 *
 * @example
 *   .selector {
 *     @include x-tab-size(4);
 *    }
 */
/**
 * @description
 * Generates cross-browser-compatible `transform` for a given element
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/transforms2d http://caniuse.com/transforms3d
 * @link spec
 *
 * @param values
 * @returns
 *   -webkit-transform: <values>;
 *       -ms-transform: <values>;
 *           transform: <values>;
 *
 * @example
 *   .selector {
 *     @include x-transform(rotate(1deg));
 *   }
 */
/**
 * @description
 * Generates cross-browser-compatible `transition` output for a given element.
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/css-transitions
 * @link spec
 *
 * @param values
 * @returns
 *   -webkit-transition: <values>;
 *           transition: <values>;
 *
 * @example
 *   .selector {
 *     @include x-transition(background 0.3s ease-in);
 *   }
 */
/**
 * @description
 * Disables selection of content of a given element
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/user-select-none
 *
 * @param value none|auto optional
 * @default none
 * @returns
 *   -webkit-user-select: <value>;
 *      -moz-user-select: <value>;
 *       -ms-user-select: <value>;
 *           user-select: <value>;
 *
 * @example
 *   .selector {
 *     @include x-user-select;
 *   }
 */
body {
  font: 16px/1.4 sans-serif;
  color: #111;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: normal;
  margin: 2em 0 1em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5em;
}

h3 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5em;
  margin: 2em 0 1em;
}
h3 a {
  text-decoration: none;
}
h3 a, h3 a:visited {
  color: #111;
}

a {
  color: #27aae2;
}
a:visited {
  color: #27aae2;
}
a:hover {
  text-decoration: none;
}

code {
  padding: 3.2px;
  padding: 0.2rem;
  font-size: 14.4px;
  font-size: 0.9rem;
  background: #f5f2f0;
  border-radius: 2px;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.button, .download, .call-modal, .content-tabbed > h3 > a, .semantic-content .close-action,
.semantic-content .open-modal {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: inline-block;
  background: #111;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  padding: 0.6em 1em;
}
.button:visited, .download:visited, .call-modal:visited, .content-tabbed > h3 > a:visited, .semantic-content .close-action:visited,
.semantic-content .open-modal:visited {
  color: #fff;
}
.button:hover, .download:hover, .call-modal:hover, .content-tabbed > h3 > a:hover, .semantic-content .close-action:hover,
.semantic-content .open-modal:hover {
  background: #3db3e5;
}

.site-header {
  background: #27aae2;
  padding: 2em 0 1em;
  text-align: center;
  color: #fff;
}
.site-header h1 {
  font-size: 80px;
  font-size: 5rem;
  display: block;
  line-height: 1;
  margin-bottom: 0.1em;
  text-shadow: 0 1px 1px rgba(13, 73, 99, 0.8);
}
@media screen and (max-width: 30em) {
  .site-header h1 {
    margin-left: .2em;
    margin-right: .2em;
    font-size: 3em;
  }
}
.site-header > p {
  margin-top: 0;
  font-size: 1.2em;
}

.site-nav {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
.site-nav ul {
  max-width: 50em;
  margin: 0 auto;
  padding: 0;
}
.site-nav li {
  list-style: none;
  display: inline-block;
}
.site-nav a {
  display: inline-block;
  padding: 1.2em 0.5em;
  color: #000;
}

.download {
  margin-top: 0.5em;
}
.download:hover {
  -webkit-box-shadow: 0 0 2px #136a90;
  box-shadow: 0 0 2px #136a90;
  background: #2b2b2b;
}

.changelog {
  font-size: 14.4px;
  font-size: 0.9rem;
  margin-top: 5px;
  color: #fff;
}
.changelog:visited {
  color: #fff;
}

.twitter {
  margin-bottom: 0;
}

.artwork {
  max-width: 100%;
}
@media screen and (max-width: 30em) {
  .artwork {
    display: none;
  }
}

.main {
  max-width: 50em;
  margin: 0 auto;
  padding: 0 1.5em;
  text-align: left;
}

.main > section {
  margin-top: -3em;
  padding-top: 3em;
}

.on-github {
  padding: 16px 32px 12px;
  padding: 1rem 2rem 0.75rem;
  background-color: #c4e8f7;
  text-align: center;
}
.on-github > p {
  margin: 0;
}

.icon-github {
  margin-right: 8px;
  margin-right: 0.5rem;
  display: inline-table;
  width: 24px;
  height: 24px;
  background: url(../img/github.svg) no-repeat;
  background-size: contain;
  text-indent: -200px;
  overflow: hidden;
}

.features {
  overflow: hidden;
  margin: 1em -.7em 1.4em;
}
.features > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: inline;
  width: 33.333%;
  padding: 0 .7em;
}
@media screen and (max-width: 30em) {
  .features > div {
    float: none;
    display: block;
    width: 100%;
  }
}
.features h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

.selling {
  font-weight: bold;
}

.pages ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin: 0 -20px;
}
.pages ul > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 16px;
  padding: 0 1rem;
  float: left;
  display: inline;
  width: 33%;
}
.pages ul img {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 3px;
  background: #ddd;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 30em) {
  .pages ul > li {
    float: none;
    display: block;
    width: auto;
  }
}

@media screen and (max-width: 30em) {
  .call-modal {
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
  }
}

.content-tabbed {
  position: relative;
}
.content-tabbed > h3 {
  display: inline-block;
  margin-top: 0;
  padding-top: 1em;
}
.content-tabbed > h3:target > a, .content-tabbed > h3.is-active > a {
  background: #3db3e5;
}
@media screen and (max-width: 30em) {
  .content-tabbed {
    height: auto !important;
  }
  .content-tabbed > h3 {
    display: block;
    padding-top: 0.5em;
  }
  .content-tabbed > h3 > a {
    display: block;
  }
}

.tab-content {
  display: none;
}
.tab-content-anchor:target + .tab-content, .tab-content-anchor.is-active + .tab-content {
  display: block;
}
.js .tab-content-anchor:target + .tab-content, .js .tab-content-anchor.is-active + .tab-content {
  position: absolute;
  max-width: 100%;
}
@media screen and (max-width: 30em) {
  .js .tab-content-anchor:target + .tab-content, .js .tab-content-anchor.is-active + .tab-content {
    position: relative;
  }
}

.big-image > img {
  max-width: 100%;
}

.small-images {
  margin: 0 -0.25em;
  max-width: none !important;
  overflow: hidden;
}
.small-images img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0.15em 0.25em;
  width: 33.33%;
}
@media screen and (max-width: 30em) {
  .small-images > img {
    max-width: 100%;
    width: 100%;
  }
}

.site-footer {
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
}

/**
 * CSS Modal
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */
/**
 * CSS Modal Configuration
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */
html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.has-overlay {
  overflow: hidden;
}
.has-overlay > body {
  height: 100%;
  overflow: hidden;
}

.modal--fade, .semantic-content, .modal--show {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  display: none\9;
}
.modal--fade:target, .semantic-content:target, .modal--show:target, .is-active.modal--fade, .is-active.semantic-content, .is-active.modal--show {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  width: auto;
  height: auto;
  opacity: 1;
}
.is-active.modal--fade, .is-active.semantic-content, .is-active.modal--show {
  display: block\9;
  height: 100% \9;
  width: 100% \9;
}
.modal--fade:target, .semantic-content:target, .modal--show:target, .is-active.modal--fade, .is-active.semantic-content, .is-active.modal--show {
  display: block\9;
}
.modal--fade .modal-inner, .semantic-content .modal-inner, .modal--show .modal-inner {
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 20;
  margin-left: -325px;
  width: 650px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.modal--fade .modal-inner > img, .semantic-content .modal-inner > img, .modal--show .modal-inner > img,
.modal--fade .modal-inner > video,
.semantic-content .modal-inner > video,
.modal--show .modal-inner > video,
.modal--fade .modal-inner > iframe,
.semantic-content .modal-inner > iframe,
.modal--show .modal-inner > iframe {
  width: 100%;
  height: auto;
  min-height: 300px;
}
.modal--fade .modal-inner > img, .semantic-content .modal-inner > img, .modal--show .modal-inner > img {
  width: auto;
  max-width: 100%;
}
.modal--fade .modal-inner iframe, .semantic-content .modal-inner iframe, .modal--show .modal-inner iframe {
  display: block;
  width: 100%;
  border: 0;
}
.modal--fade .modal-content, .semantic-content .modal-content, .modal--show .modal-content {
  position: relative;
  max-height: 400px;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.modal--fade .modal-content > *, .semantic-content .modal-content > *, .modal--show .modal-content > * {
  max-width: 100%;
}
.modal--fade footer, .semantic-content footer, .modal--show footer {
  border-top: 1px solid white;
  padding: 0 1.2em 18px;
  background: #f0f0f0;
  border-radius: 2px;
}
.modal--fade .modal-close, .semantic-content .modal-close, .modal--show .modal-close {
  display: block;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
}
.modal--fade .modal-close:focus:after, .semantic-content .modal-close:focus:after, .modal--show .modal-close:focus:after {
  outline: 1px dotted;
  outline: -webkit-focus-ring-color auto 5px;
}
.modal--fade .modal-close:before, .semantic-content .modal-close:before, .modal--show .modal-close:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal--fade .modal-close:after, .semantic-content .modal-close:after, .modal--show .modal-close:after {
  content: '\00d7';
  position: absolute;
  top: 35px;
  right: 50%;
  z-index: 20;
  margin-right: -325px;
}
@media screen and (max-width: 690px) {
  .modal--fade .modal-inner, .semantic-content .modal-inner, .modal--show .modal-inner {
    width: auto;
    left: 20px;
    right: 20px;
    margin-left: 0;
  }
  .modal--fade .modal-close:after, .semantic-content .modal-close:after, .modal--show .modal-close:after {
    margin-right: 0 !important;
    right: 20px;
  }
}
@media screen and (max-width: 30em) {
  .modal--fade, .semantic-content, .modal--show {
    -webkit-transform: translate(0, 400px);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: opacity 1ms .25s;
    -moz-transition: opacity 1ms .25s;
    -o-transition: opacity 1ms .25s;
    -ms-transition: opacity 1ms .25s;
    transition: opacity 1ms .25s;
    display: block;
    right: auto;
    bottom: auto;
  }
  .modal--fade:target, .semantic-content:target, .modal--show:target, .is-active.modal--fade, .is-active.semantic-content, .is-active.modal--show {
    width: 100%;
    height: 100%;
  }
  .modal--fade:target .modal-close, .semantic-content:target .modal-close, .modal--show:target .modal-close, .is-active.modal--fade .modal-close, .is-active.semantic-content .modal-close, .is-active.modal--show .modal-close {
    display: block;
  }
  .modal--fade .modal-inner, .semantic-content .modal-inner, .modal--show .modal-inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
  }
  .modal--fade .modal-content, .semantic-content .modal-content, .modal--show .modal-content {
    max-height: none;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  .modal--fade .modal-close, .semantic-content .modal-close, .modal--show .modal-close {
    display: none;
    right: auto;
  }
  .modal--fade .modal-close:before, .semantic-content .modal-close:before, .modal--show .modal-close:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }
  .modal--fade .modal-close:after, .semantic-content .modal-close:after, .modal--show .modal-close:after {
    top: 5px !important;
    right: 5px;
    left: auto;
    margin-left: 0;
  }
}
@media screen and (max-height: 46em) and (min-width: 30em) {
  .modal--fade .modal-content, .semantic-content .modal-content, .modal--show .modal-content {
    max-height: 340px;
    max-height: 50vh;
  }
}
@media screen and (max-height: 36em) and (min-width: 30em) {
  .modal--fade .modal-content, .semantic-content .modal-content, .modal--show .modal-content {
    max-height: 265px;
    max-height: 40vh;
  }
}
.is-stacked.modal--fade, .is-stacked.semantic-content, .is-stacked.modal--show {
  -webkit-transform: translate(0, 0) scale(1, 1);
  -moz-transform: translate(0, 0) scale(1, 1);
  -o-transform: translate(0, 0) scale(1, 1);
  -ms-transform: translate(0, 0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  opacity: 1;
}
.is-stacked.modal--fade .modal-inner, .is-stacked.semantic-content .modal-inner, .is-stacked.modal--show .modal-inner {
  -webkit-animation: scaleDown .7s ease both;
  -moz-animation: scaleDown .7s ease both;
  animation: scaleDown .7s ease both;
}
.is-stacked.modal--fade .modal-close, .is-stacked.semantic-content .modal-close, .is-stacked.modal--show .modal-close {
  opacity: 0;
}
@media screen and (max-width: 30em) {
  .is-stacked.modal--fade, .is-stacked.semantic-content, .is-stacked.modal--show {
    -webkit-animation: scaleDown .7s ease both;
    -moz-animation: scaleDown .7s ease both;
    animation: scaleDown .7s ease both;
  }
  .is-stacked.modal--fade .modal-inner, .is-stacked.semantic-content .modal-inner, .is-stacked.modal--show .modal-inner {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
  .is-stacked.modal--fade .modal-close, .is-stacked.semantic-content .modal-close, .is-stacked.modal--show .modal-close {
    opacity: 1;
  }
}

/**
 * All animations for CSS Modal
 *
 * Available:
 * - %modal--transition-fade (fade)
 * - %modal--transition-zoomIn (zooms in)
 * - %modal--transition-plainScreen (hides background)
 *
 * Usage:
 *
 * .selector {
 * 		@extend %modal--transition-fade;
 * }
 *
 */
@media screen and (min-width: 30em) {
  .modal--fade, .semantic-content {
    transition: opacity 0.4s;
  }
}

/**
 * CSS Modal Themes
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */
/*
 * Global Theme Styles
 */
.modal--fade, .semantic-content, .modal--show {
  color: #222;
  line-height: 1.3;
}
.modal--fade .modal-inner, .semantic-content .modal-inner, .modal--show .modal-inner {
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  max-width: 100%;
  -webkit-transition: max-width 0.25s linear, margin-left 0.125s linear;
  transition: max-width 0.25s linear, margin-left 0.125s linear;
}
.modal--fade header, .semantic-content header, .modal--show header {
  border-bottom: 1px solid #ddd;
  padding: 0 1.2em;
}
.modal--fade header > h2, .semantic-content header > h2, .modal--show header > h2 {
  margin: 0.5em 0;
}
.modal--fade .modal-content, .semantic-content .modal-content, .modal--show .modal-content {
  border-bottom: 1px solid #ddd;
  padding: 15px 1.2em;
}
.modal--fade footer, .semantic-content footer, .modal--show footer {
  border-top: 1px solid white;
  padding: 0 1.2em 18px;
  background: #f0f0f0;
  border-radius: 2px;
}
.modal--fade .modal-close, .semantic-content .modal-close, .modal--show .modal-close {
  text-indent: -100px;
}
.modal--fade .modal-close:before, .semantic-content .modal-close:before, .modal--show .modal-close:before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAEUlEQVQoz2NgeEYAjioYSQoAzOTmAXhPhyoAAAAASUVORK5CYII=");
}
.modal--fade .modal-close:after, .semantic-content .modal-close:after, .modal--show .modal-close:after {
  content: '\00d7';
  background: #fff;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 1.2em;
  text-decoration: none;
  text-indent: 0;
}
@media screen and (max-width: 30em) {
  .modal--fade .modal-close:before, .semantic-content .modal-close:before, .modal--show .modal-close:before {
    background: #27aae2;
    height: 3em;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
  .modal--fade .modal-inner, .semantic-content .modal-inner, .modal--show .modal-inner {
    padding-top: 3em;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .modal--fade .modal-close, .semantic-content .modal-close, .modal--show .modal-close {
    text-decoration: none;
  }
  .modal--fade .modal-close:after, .semantic-content .modal-close:after, .modal--show .modal-close:after {
    content: attr(data-close);
    font-size: 1em;
    padding: 0.5em 1em;
  }
}

/*
 * Plain Screen Theme Styles
 */
/**
 * Apply the desired modal behavior to your container selector
 */
.semantic-content footer > p {
  margin-bottom: 0;
}
.semantic-content .close-action,
.semantic-content .open-modal {
  margin-right: 5px;
}

/*# sourceMappingURL=main.css.map */
