// Generates border-radius on a given element
// Documentation: docs/border-radius.md
@mixin x-border-radius ($values) {
	-webkit-border-radius: $values; // iOS Safari 3.2, Android 2.1
	        border-radius: $values;
}

// @include x-border-radius(20px 10px);

// Generates box-shadow on a given element
// Documentation: docs/box-shadow.md
@mixin x-box-shadow ($values) {
	-webkit-box-shadow: $values; // iOS Safari 3.2 - 4.3, Android 2.1+
	        box-shadow: $values;
}

// @include x-box-shadow(5px 5px 10px 5px #aaa);

// Generates a given element in border-box box-sizing by default
// Documentation: docs/box-sizing.md
@mixin x-box-sizing ($type: border-box) {
	-webkit-box-sizing: $type; // Safari <= 5.0, Chrome <= 9.0, iOS Safari 3.2 - 4.3 and Android 2.1 - 3.0
	   -moz-box-sizing: $type; // FF 2.0+
	        box-sizing: $type; // IE 8, Opera 9.5+
}

// @include x-box-sizing;

// Helper for old syntax in linear-gradients

// Return the corrected angle or position for a css gradient
@function angle($deg) {
	@if type-of($deg) == 'number' {
		@return mod(abs($deg - 450), 360deg);
	} @else {
		$position: to + " ";
		@each $pos in $deg {
			$position: $position + opposite-position($pos) + " ";
		}

		@return $position;
	}
}

@function helper-gradient-angle($direction) {

	$old-direction: $direction;
	$veryold-direction: $direction;

	// New Syntax has to be evaluated to old one
	@if $direction == "to bottom" {
		$old-direction: "top";
	} @else if $direction == "to right" {
		$old-direction: "left";
	} @else if $direction == "to top" {
		$old-direction: "bottom";
	} @else if $direction == "to left" {
		$old-direction: "right";
	} @else {
		$old-direction: angle($direction);
	}

	// And also for very old syntax
	@if $direction == "to bottom" {
		$veryold-direction: "left top, left bottom";
	} @else if $direction == "to right" {
		$veryold-direction: "top left, bottom right";
	} @else if $direction == "to top" {
		$veryold-direction: "left bottom, left top";
	} @else if $direction == "to left" {
		$veryold-direction: "top right, bottom left";
	} @else {
		$veryold-direction: angle($direction);
	}


	@return $old-direction, $veryold-direction;
}


// Generates a linear gradient for a given element
// Documentation: docs/linear-gradient.md

// Dependency: @function helper-gradient-angle;

@mixin x-linear-gradient($direction: "to bottom", $fallback: #ccc, $from: #ccc, $to: #aaa) {

	$directions: helper-gradient-angle($direction);

	// Provide a fallback-color
	background-color: $fallback;

	// Cross-browser linear-gradients
	background-image: -webkit-gradient(linear, unquote(nth($directions, 2)), from($from), to($to)); // Android 2.1-3.0
	background-image: -webkit-linear-gradient(unquote(nth($directions, 1)), $from, $to);
	background-image:    -moz-linear-gradient(unquote(nth($directions, 1)), $from, $to);
	background-image:     -ms-linear-gradient(unquote(nth($directions, 1)), $from, $to);
	background-image:      -o-linear-gradient(unquote(nth($directions, 1)), $from, $to);
	background-image:         linear-gradient(unquote($direction),     $from, $to);
}

// @include x-linear-gradient("to bottom", #ccc, #ddd, #bbb);

// Generates multiple backgrounds for a given element

// A function for prefixing gradients
@function prefixed-gradient ($mode, $gradient) {

	$prefix: '-' + $mode + '-';

	// Get angles
	$angles: helper-gradient-angle('' + nth($gradient, 2));
	$angle: nth($angles, 1);

	// If unprefixed
	@if ($mode == '') {
		$prefix: '';
		$angle: nth($gradient, 2);
	}

	// @TODO define old webkit mode
	@if ($mode == 'webkit-old') {
		$prefix: '-webkit-';
		$angle: nth($angles, 2);
	}

	$prefixed: '-' + $prefix + 'linear-gradient(' + $angle;

	@for $i from 1 through length($gradient) {
		@if ($i > 2) {
			$prefixed: append(unquote($prefixed), nth($gradient, $i), comma);
		}
	}

	$prefixed: $prefixed + ')';

	@return unquote($prefixed);
}

@mixin x-multiple-backgrounds ($backgrounds...) {
	$combined-background-webkit-old: ();
	$combined-background-webkit: ();
	$combined-background-moz: ();
	$combined-background-o: ();
	$combined-background: ();
	$end: '';

	// Itterate through all backgrounds passed
	@each $background in $backgrounds {

		// Prefix gradadients
		@if (type-of($background) == list) {

			@if (nth($background, 1) == 'linear-gradient') {
				$combined-background-webkit-old: append($combined-background-webkit-old, prefixed-gradient('webkit-old', $background), comma);
				$combined-background-webkit: append($combined-background-webkit, prefixed-gradient('webkit', $background), comma);
				$combined-background-moz: append($combined-background-moz, prefixed-gradient('moz', $background), comma);
				$combined-background-o: append($combined-background-o, prefixed-gradient('o', $background), comma);
				$combined-background: append($combined-background, prefixed-gradient('', $background), comma);

			// Nothing to do for non-gradients
			} @else {
				$combined-background-webkit-old: append($combined-background-webkit-old, $background, comma);
				$combined-background-webkit: append($combined-background-webkit, $background, comma);
				$combined-background-moz: append($combined-background-moz, $background, comma);
				$combined-background-o: append($combined-background-o, $background, comma);
				$combined-background: append($combined-background, $background, comma);
			}

		// Put colors at end of combined background
		} @else if (type-of($background) == color) {
			$end: $background;
			$background: null;

		}
	}

	// Append color if there is one
	$combined-background-webkit-old: append($combined-background-webkit-old, $end, space);
	$combined-background-webkit: append($combined-background-webkit, $end, comma);
	$combined-background-moz: append($combined-background-moz, $end, comma);
	$combined-background-o: append($combined-background-o, $end, comma);
	$combined-background: append($combined-background, $end, comma);

	// Only print all prefixed versions if necessary
	@if ($combined-background != $combined-background-webkit) {
		background: unquote($combined-background-webkit-old);
		background: unquote($combined-background-webkit);
		background: unquote($combined-background-moz);
		background: unquote($combined-background-o);
		background: unquote($combined-background);
	} @else {
		background: unquote($combined-background);
	}

}

/**
 * @include x-multiple-backgrounds(
 *	rgba(0, 0, 0, 0.3),
 *	url('../img/someImage.png') no-repeat,
 *	('to bottom', #ddd, #aaa, #ddd)
 * );
 */

// Generates multiple color stops in gradients for a given element
// Documentation: docs/multiple-colored-gradient.md
@mixin x-multiple-colored-gradient($args) {

	$gradient: ();
	$pos: nth($args, 1);
	$pos_newsyntax: ();

	@if ($pos != 'top')
		and ($pos != 'right')
		and ($pos != 'bottom')
		and ($pos != 'left')
		and ($pos != 'to top')
		and ($pos != 'to right')
		and ($pos != 'to bottom')
		and ($pos != 'to left') {
			$pos: 'top';
	}

	// New Syntax
	@if $pos == 'top' {
		$pos_newsyntax: 'to bottom';
	} @else if $pos == 'right' {
		$pos_newsyntax: 'to left';
	} @else if $pos == 'bottom' {
		$pos_newsyntax: 'to top';
	} @else if $pos == 'left' {
		$pos_newsyntax: 'to right';
	}

	@each $g in $args {
		@if ($g != 'top')
			and ($g != 'right')
			and ($g != 'bottom')
			and ($g != 'left')
			and ($g != 'to top')
			and ($g != 'to right')
			and ($g != 'to bottom')
			and ($g != 'to left') {
				$gradient: append($gradient, $g, comma);
		}
	}

	background-image:  -webkit-linear-gradient(unquote($pos), $gradient);
	background-image:     -moz-linear-gradient(unquote($pos), $gradient);
	background-image:      -ms-linear-gradient(unquote($pos), $gradient);
	background-image:       -o-linear-gradient(unquote($pos), $gradient);
	background-image: unquote('linear-gradient(#{$pos_newsyntax}, #{$gradient})');
}

// @include x-multiple-colored-gradient(( "top", #aaa 0%, #bbb 50%, #ccc 100% ));

// Enables using of CSS3 value `rem`
// Documentation: docs/rem.md
@mixin x-rem($property, $values, $main-font-size: 16px) {

	// Empty list for all values in px
	$px-values: ();
	$rem-values: ();

	// Iterate over entries
	@each $value in $values {

		// If the value is zero, return 0
		@if $value == 0 or $value == auto {
			$px-values: append($px-values, $value);
			$rem-values: append($rem-values, $value);

		// If the value is not zero, convert it from px to rem
		} @else {
			$px-values: append($px-values, ($value * $main-font-size) );
			$rem-values: append($rem-values, #{$value}rem);
		}
	}

	// Return the property and its list of converted values
	#{$property}: #{$px-values};
	#{$property}: #{$rem-values};
}

// @include x-rem(font-size, 1.3);

// Generates tab-sizing
@mixin x-tab-size ($value: 4) {
	-moz-tab-size: $value;
	  -o-tab-size: $value;
	     tab-size: $value;
}

// Generates transforms for a given element
// Documentation: docs/transition.md
@mixin x-transform ($values) {
	-webkit-transform: $values;
	   -moz-transform: $values;
	     -o-transform: $values;
	    -ms-transform: $values;
	        transform: $values;
}

// @include x-transform(rotate(1deg));

// Generates transitions on a given element
// Documentation: docs/transition.md
@mixin x-transition ($values) {
	-webkit-transition: $values;
	     -o-transition: $values;
	        transition: $values;
}

// @include x-transition(background 0.3s ease-in);
