/*
 * Styles for the website
 */

// Import helpers
@import 'bower_components/normalize-scss/normalize';
@import 'bower_components/sass-mixins/mixins';

// Main-Color
$color: #27aae2;

// Default styles
body {
	font: 16px/1.4 sans-serif;
	color: #111;
	text-align: center;
}

h2 {
	@include x-rem(font-size, 2);

	font-weight: normal;
	margin: 2em 0 1em;
	border-bottom: 1px solid #ddd;
	padding-bottom: 0.5em;
}

h3 {
	@include x-rem(font-size, 1.25);

	font-weight: normal;
	border-bottom: 1px solid #ddd;
	padding-bottom: 0.5em;
	margin: 2em 0 1em;

	a {
		text-decoration: none;

		&,
		&:visited {
			color: #111;
		}
	}
}


// Links
a {
	color: $color;

	&:visited {
		color: $color;
	}

	&:hover {
		text-decoration: none;
	}
}


// Code
code {
	@include x-rem(padding, 0.2);
	@include x-rem(font-size, 0.9);

	background: #f5f2f0;
	border-radius: 2px;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

// Buttons
.button {
	@include x-transition(0.1s);

	display: inline-block;
	background: #111;
	text-decoration: none;

	color: #fff;

	border-radius: 4px;
	padding: 0.6em 1em;

	&:visited {
		color: #fff;
	}

	&:hover {
		background: lighten($color, 5);
	}
}



// Header
.site-header {
	background: $color;
	padding: 2em 0 1em;

	text-align: center;
	color: #fff;

	// Headline
	h1 {
		@include x-rem(font-size, 5);

		display: block;

		line-height: 1;
		margin-bottom: 0.1em;

		text-shadow: 0 1px 1px rgba(darken($color, 30), .8);

		@media screen and (max-width: 30em) {
			margin-left: .2em;
			margin-right: .2em;
			font-size: 3em;
		}
	}

	> p {
		margin-top: 0;
		font-size: 1.2em;
	}
}

.site-nav {
	@include x-box-shadow(0 0 5px rgba(0, 0, 0, 0.3));

	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);

	ul {
		max-width: 50em;
		margin: 0 auto;
		padding: 0;
	}

	li {
		list-style: none;
		display: inline-block;
	}

	a {
		display: inline-block;
		padding: 1.2em 0.5em;
		color: #000;
	}
}



// Download button
.download {
	@extend .button;

	margin-top: 0.5em;

	&:hover {
		@include x-box-shadow(0 0 2px darken($color, 20));

		background: lighten(#111, 10);
	}
}

// And Changelog
.changelog {
	@include x-rem(font-size, 0.9);

	margin-top: 5px;
	color: #fff;

	&:visited {
		color: #fff;
	}
}

.twitter {
	margin-bottom: 0;
}

// The artwork above the content
.artwork {
	max-width: 100%;

	@media screen and (max-width: 30em) {
		display: none;
	}
}

// Content
.main {
	max-width: 50em;
	margin: 0 auto;
	padding: 0 1.5em;
	text-align: left;
}

.main > section {
	margin-top: -3em;
	padding-top: 3em;
}


// The GitHubbers
.on-github {
	@include x-rem(padding, 1 2 0.75);

	background-color: lighten($color, 35);
	text-align: center;

	> p {
		margin: 0;
	}
}

.icon-github {
	@include x-rem(margin-right, 0.5);
	display: inline-table;
	width: 24px;
	height: 24px;
	background: url(../img/github.svg) no-repeat;
	background-size: contain;
	text-indent: -200px;
	overflow: hidden;
}


// Show features
.features {
	overflow: hidden;
	margin: 1em -.7em 1.4em;

	> div {
		@include x-box-sizing;

		float: left;
		display: inline;
		width: 33.333%;
		padding: 0 .7em;

		@media screen and (max-width: 30em) {
			float: none;
			display: block;
			width: 100%;
		}
	}

	h2 {
		@include x-rem(font-size, 1.5);
	}
}

// Why would you???
.selling {
	font-weight: bold;
}

// Pages
.pages {
	ul {
		list-style: none;
		padding: 0;
		overflow: hidden;
		margin: 0 -20px;

		> li {
			@include x-box-sizing;
			@include x-rem(padding, 0 1);

			float: left;
			display: inline;
			width: 33%;
		}

		img {
			@include x-border-radius(2px);

			padding: 3px;
			background: #ddd;
			width: 100%;
			height: auto;
		}
	}

	@media screen and (max-width: 30em) {
		ul {
			> li {
				float: none;
				display: block;
				width: auto;
			}
		}
	}
}


// Demo
.call-modal {
	@extend .button;

	@media screen and (max-width: 30em) {
		display: block;
		text-align: center;
		margin-bottom: 0.5em;
	}
}


// Tabbed content
.content-tabbed {
	position: relative;

	> h3 {
		display: inline-block;
		margin-top: 0;
		padding-top: 1em;

		> a {
			@extend .button;
		}

		&:target > a,
		&.is-active > a {
			background: lighten($color, 5);
		}
	}

	@media screen and (max-width: 30em) {
		height: auto !important;

		> h3 {
			display: block;
			padding-top: 0.5em;

			> a {
				display: block;
			}
		}
	}
}

.tab-content {
	display: none;

	.tab-content-anchor:target + &,
	.tab-content-anchor.is-active + & {
		display: block;

		.js & {
			position: absolute;
			max-width: 100%;

			@media screen and (max-width: 30em) {
				position: relative;
			}
		}
	}
}

// Images in Modal
.big-image {
	> img {
		max-width: 100%;
	}
}

.small-images {
	margin: 0 -0.25em;
	max-width: none !important;
	overflow: hidden;

	img {
		@include x-box-sizing;

		float: left;
		padding: 0.15em 0.25em;
		width: 33.33%;
	}

	@media screen and (max-width: 30em) {
		> img {
			max-width: 100%;
			width: 100%;
		}
	}
}


// Footer
.site-footer {
	margin: 0 auto;
	padding: 2em 0;
	text-align: center;
}

