/*
 * Modals build with pure CSS
 * by @drublic - http://drublic.de/
 *
 * http://drublic.github.com/css-modal
 */


// Import styles for the website
@import 'layout';

// Include Modal
@import 'bower_components/css-modal/modal.scss';


// Apply the modal with all its possible parts
.semantic-content {
	@extend %modal--transition-fade;

	footer > p {
		margin-bottom: 0;
	}

	.close-action,
	.open-modal {
		@extend .button;

		margin-right: 5px;
	}

}
